<svg 
  class="draggable-container"
  xmlns="http://www.w3.org/2000/svg"
  ng-mousemove="mouseMove($event)"
  >
  <defs>
    <linearGradient 
      spreadMethod="pad" 
      y2="0" 
      x2="0" 
      y1="1" 
      x1="0" 
      id="nodeBackgroundGradient"
      >
      <stop 
        offset="0" 
        stop-opacity="0.99609" 
        stop-color="#56aaff"
        />
        <stop 
        offset="0.63934" 
        stop-opacity="0.99219" 
        stop-color="#d0d0e5"
        />
    </linearGradient>
  </defs>
  <g
    ng-repeat="node in chart.nodes"
    ng-mousedown="nodeMouseDown($event, $index)"
    ng-attr-transform="translate({{node.x}}, {{node.y}})"
    >
    <rect 
      class="node-rect"
      ry="10" 
      rx="10" 
      x="80" 
      y="50" 
      width="200" 
      height="150" 
      >
    </rect>

    <g
      ng-repeat="connector in node.inputConnectors"
      ng-mousedown="connectorMouseDown($event, node, connector, $index, true)"
      class="connector input-connector"
      >
      <text
        ng-attr-x="{{computeLocalInputConnectorX($index) + 20}}"
        ng-attr-y="{{computeLocalConnectorY($index)}}"
        alignment-baseline="middle"
        >
        {{connector.name}}
      </text>
      <circle       
        ng-attr-class="{{connector.isMouseOver && 'selected-connector-circle' || 'connector-circle'}}"
        ng-attr-r="{{connectorSize}}" 
        ng-attr-cx="{{computeLocalInputConnectorX($index)}}"
        ng-attr-cy="{{computeLocalConnectorY($index)}}"
        />
    </g>

    <g
      ng-repeat="connector in node.outputConnectors"
      ng-mousedown="connectorMouseDown($event, node, connector, $index, false)"
      class="connector output-connector"
      >
      <text
        ng-attr-y="{{computeLocalConnectorY($index)}}"
        x="260"
        text-anchor="end"
        alignment-baseline="middle"
        >
        {{connector.name}}
      </text>
      <circle             
        ng-attr-class="{{connector.isMouseOver && 'selected-connector-circle' || 'connector-circle'}}"
        ng-attr-r="{{connectorSize}}" 
        ng-attr-cx="{{computeLocalOutputConnectorX($index)}}"
        ng-attr-cy="{{computeLocalConnectorY($index)}}"
        />
    </g>

    <text 
      text-anchor="middle" 
      font-family="serif" 
      font-size="24" 
      y="80" 
      x="183" 
      >
      {{node.title}}
    </text>
  </g>

  <!-- Represents the connection being dragged out. 
  <line
    class="dragging-connection"
    ng-if="draggingConnection"
    ng-attr-x1="{{draggingConnectorPos.x}}"
    ng-attr-y1="{{draggingConnectorPos.y}}"
    ng-attr-x2="{{dragPoint.x}}"
    ng-attr-y2="{{dragPoint.y}}"
    >
  </line>
  -->

  <g
    ng-if="draggingConnection"
    >
    <path
      class="dragging-connection dragging-connection-line"
      ng-attr-d="M {{dragPoint1.x}}, {{dragPoint1.y}}
                 C {{dragTangent1.x}}, {{dragTangent1.y}}
                   {{dragTangent2.x}}, {{dragTangent2.y}}
                   {{dragPoint2.x}}, {{dragPoint2.y}}"
      >
    </path>

    <circle
        class="dragging-connection dragging-connection-endpoint"
        r="5" 
        ng-attr-cx="{{dragPoint1.x}}" 
        ng-attr-cy="{{dragPoint1.y}}" 
        >
    </circle>

    <circle
        class="dragging-connection dragging-connection-endpoint"
        r="5" 
        ng-attr-cx="{{dragPoint2.x}}" 
        ng-attr-cy="{{dragPoint2.y}}" 
        >
    </circle>
  </g>

  <!-- Debug
  <text
    x="10"
    y="40"
    >
    M {{dragPoint1.x}}, {{dragPoint1.y}}
               C {{dragTangent1.x}}, {{dragTangent1.y}}
                 {{dragTangent2.x}}, {{dragTangent2.y}}
                 {{dragPoint2.x}}, {{dragPoint2.y}}
  </text>
-->

  <!-- fio: -->
  <circle
        ng-if="draggingConnection"
        r="5" 
        ng-attr-cx="{{dragTangent1.x}}" 
        ng-attr-cy="{{dragTangent1.y}}" 
        stroke="blue"
        stroke-width="1"
        fill="transparent"
        style="pointer-events: none;"
        >
  </circle>

  <!-- fio: -->
  <circle
        ng-if="draggingConnection"
        r="5" 
        ng-attr-cx="{{dragTangent2.x}}" 
        ng-attr-cy="{{dragTangent2.y}}" 
        stroke="blue"
        stroke-width="1"
        fill="transparent"
        style="pointer-events: none;"
        >
  </circle>
  
</svg>

